@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: 'Poppins', sans-serif;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  background: var(--background-color);
}

.section {
  width: 100%;
  min-height: 100%;
  position: relative;
  color: white;
  font-size: 60px;
  font-family: 'Poppins', sans-serif;
}

.experience {
  position: fixed;
  width: 100vw;
  height: 100vh;
}

.experience-canvas {
  width: 100%;
  height: 100%;
}

/* moving text */
span {
  color: #c38eff;
}

.intro {
  z-index: 99999;
  width: 100%;
  height: 100%;
  overflow: hidden;
}


:root {
  --text-black: rgb(49, 49, 49);
  --primary-color: #647bff;
  --primary-pink: rgb(255, 207, 207);
  --background-color: #000012;
}

/* Add styles for .text-element or other classes as needed */
.text-element {
  padding: 20px;
  box-sizing: border-box;
}

.intro {
  width: 100vw;
  height: 100vh;
}

.hero-main {
  padding-left: calc(5%);
  position: absolute;
  bottom: 168px;
  left: 0;
  color: var(--primary-color);
}

.hero-second {
  top: calc(50% - 120px);
  padding-right: calc(5%);
  position: absolute;
  bottom: 168px;
  right: 0;
  color: var(--primary-color);
}

.hero-main-title {
  font-size: 64px;
  color: var(--primary-color);
}

.hero-main-description {
  font-size: 18px;
  color: var(--primary-color);
}

.hero-second-subheading {
  font-size: 32px;
  text-transform: uppercase;
  color: var(--primary-color);
}

/* media queries */
@media (max-width: 968px){
  .section{
    width: 100%;
  }
  .hero-main{
    bottom: 120px;
  }
  .hero-second{
    top: 160px;
  }
  .hero-main-title{
    font-size: 32px;
  }
  .hero-main-description{
    font-size: 18px;
  }
  .hero-second-subheading{
    font-size: 18px;
  }
}
